body {
	background-color: #E6E6FA;
	color: black;
	font-size: 18px;
	font-family: Times New Roman;
	text-align: center;
}

h1 {
	text-align: center;
}

#info {
	/* Top, right, bottom left */
    padding: 25px 200px 25px 200px;
}
