{% extends "./base.njk" %}

{% block body %}
  <section>
    <h1>{{ header.title}}</h1>
      {% for p in header.paragraphs %}
        <p>
            {{ p }}
        </p>
    {% endfor %}
  </section>

  <section>
    {% for section in sections %}
      <header>
        <h1>{{ section.title }}</h1>
      </header>
      <ul>
        {% for item in section.items %}
          <li class="title">
            <a href="{{ item.slug }}.html">{{ item.title }}</a>
            <span class="timestamp">
              {{ item.date }}
            </span>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>


{% endblock %}
