<div class="navbar">
  <a href="/index.html"> <img src="planet.png" alt="cha0splanet" width="16" height="16"></a>
  <a href="/rss.html" class="right"><i class="fa fa-rss"></i></a>
  <a href="/projects.html" class="right"> Projects</a>
</div>
