<div class="navbar">
  <a href="/"> <img src="/img/planet.png" alt="cha0splanet" width="16" height="16"></a>
  <a href="https://twitter.com/cha0sg0d11" target="_blank" class="right"><i class="fa fa-twitter"></i></a>
  <a href="https://github.com/cha0sg0d" target="_blank" class="right"><i class="fa fa-github"></i></a>
  <a href="/wikis.html" class="right"><i class="fa fa-wikipedia-w"></i></a>
  <a href="/projects.html" class="right"> <i class="fa fa-laptop"></i></a>
</div>
